.video{
    margin-left: 110vh;
    background:none;

}

.youtube{
    margin-left: 106vh;
    margin-top:-422px;
}

.google{
    margin-bottom: -50vh;
}
.audio{
    margin-left: 50vh;
    margin-bottom: -20vh;
    margin-left: -1vh;
}