.navabar1{
    background-color: black;
    font-size: 20px;
    padding: 10px;

}
.navabar1 a{

    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;

}
.navabar1 a:hover{
    background-color: grey;
}
.navabar2 {
   width: 70px;
   height: 100vh;
    background-color:black;
    font-size: 20px;



}
.navabar2 a{
    font-size: 20px;
    float: left;
    padding: 10px;
    color: white;
    text-decoration: none;
    width: 50px;
}

.navabar2 a:hover{
    background-color: gray;
}
